body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 1000px;
    margin: auto;
    background-color: #fbfaf2;
}

h1 {
    font-size: 3em;
    letter-spacing: .2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 40% 70%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 1em;
}

section {
    margin: auto 1em 3em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

footer {
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    margin: 0.5em 0;
}

.bubbles-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selfie {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    
}

.bubble {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    animation: floatBubble 5s ease-in-out infinite; /* Use the animation in action */
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.bubble img {
    width: 100%;
    height: auto;
}

@keyframes floatBubble {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Positioning Bubbles */
#wrx-bubble {
    left: calc(50% - 300px); /* Positioning slightly to the left of the selfie */
    bottom: 55%; /* Positioning above the vertical center */
}

#hiking-bubble {
    left: calc(50% - 300px); /* Consistent with the other left side bubble */
    top: 55%; /* Positioning below the vertical center */
}

#music-bubble {
    right: calc(50% - 300px); /* Positioning slightly to the right of the selfie */
    bottom: 55%; /* Positioning above the vertical center */
}

#drone-bubble {
    right: calc(50% - 300px); /* Consistent with the other right side bubble */
    top: 55%; /* Positioning below the vertical center */
}
